# Pandas Assignment

## Part 1

In this assignment we are going to use pandas to figure out - What's the best **date-night movie**?

This assignment is going to use
- Joining
- Groupby
- Sorting

Hint! Find the highly rated movies which appeals to both genders 'M' and 'F'

In [104]:
import os
import pandas as pd

##### Read in the movie data: `pd.read_table`

In [105]:
def get_movie_data():
    
    unames = ['user_id','gender','age','occupation','zip']
    users = pd.read_table(os.path.join('../data','users.dat'), 
                          sep='::', header=None, names=unames)
    
    rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
    ratings = pd.read_table(os.path.join('../data', 'ratings.dat'), 
                            sep='::', header=None, names=rnames)
    
    mnames = ['movie_id', 'title','genres']
    movies = pd.read_table(os.path.join('../data', 'movies.dat'), 
                           sep='::', header=None, names=mnames)

    return users, ratings, movies

In [106]:
users, ratings, movies = get_movie_data()

/Users/moyockmike/Envs/CSC693/lib/python2.7/site-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """
/Users/moyockmike/Envs/CSC693/lib/python2.7/site-packages/ipykernel_launcher.py:9: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':
/Users/moyockmike/Envs/CSC693/lib/python2.7/site-packages/ipykernel_launcher.py:13: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  del sys.path[0]

In [107]:
print users.head()

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [108]:
print ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [109]:
print movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

##### Clean up the `movies`

- Get the `year`
- Shorten the `title`

In [110]:
tmp = movies.title.str.extract('(.*) \(([0-9]+)\)')
tmp.apply(lambda x:x[0] if len(x) > 0 else None)
tmp.apply(lambda x: x[0][:40] if len(x) > 0 else None)

/Users/moyockmike/Envs/CSC693/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

0    Toy Story
1         1995
dtype: object

In [111]:
movies['year'] = tmp[1]
movies['short_title'] = tmp[0]

In [112]:
print movies.head()

   movie_id                               title                        genres  \
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

   year                  short_title
0  1995                    Toy Story
1  1995                      Jumanji
2  1995             Grumpier Old Men
3  1995            Waiting to Exhale
4  1995  Father of the Bride Part II

##### Join the tables with `pd.merge`

### This is merging the dataframes into one dataframe
###### Then sorted the dataframe on user_id just to make it more organized

In [113]:
result = pd.merge(users, ratings, on=['user_id'])
finalResult = pd.merge(result, movies, on=['movie_id'])
finalResult

,user_id,gender,age,occupation,zip,movie_id,rating,timestamp,title,genres,year,short_title
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
5,18,F,18,3,95825,1193,4,978156168,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
6,19,M,1,10,48073,1193,5,982730936,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
7,24,F,25,7,10023,1193,5,978136709,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
8,28,F,25,1,14607,1193,3,978125194,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
9,33,M,45,3,55421,1193,5,978557765,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
10,39,M,18,4,61820,1193,5,978043535,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
11,42,M,25,8,24502,1193,3,978038981,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
12,44,M,45,17,98052,1193,4,978018995,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
13,47,M,18,4,94305,1193,4,977978345,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
14,48,M,25,4,92107,1193,4,977975061,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
15,49,M,18,12,77084,1193,4,978813972,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
16,53,M,25,0,96931,1193,5,977946400,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
17,54,M,50,1,56723,1193,5,977944039,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
18,58,M,25,2,30303,1193,5,977933866,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
19,59,F,50,1,55413,1193,4,977934292,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
20,62,F,35,3,98105,1193,4,977968584,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
21,80,M,56,1,49327,1193,4,977786172,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
22,81,F,25,0,60640,1193,5,977785864,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
23,88,F,45,1,02476,1193,5,977694161,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
24,89,F,56,9,85749,1193,5,977683596,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
25,95,M,45,0,98201,1193,5,977626632,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
26,96,F,25,16,78028,1193,3,977621789,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
27,99,F,1,10,19390,1193,2,982791053,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
28,102,M,35,19,20871,1193,5,1040737607,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
29,104,M,25,12,00926,1193,2,977546620,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
...,...,...,...,...,...,...,...,...,...,...,...,...
1000179,4933,M,25,15,94040,3084,3,962757020,Home Page (1999),Documentary,1999,Home Page
1000180,4802,M,56,1,40601,2218,2,1014866656,Juno and Paycock (1930),Drama,1930,Juno and Paycock
1000181,4812,M,18,14,25301,2308,2,962932391,Detroit 9000 (1973),Action|Crime,1973,Detroit 9000
1000182,4874,F,25,4,70808,624,4,962781918,Condition Red (1995),Action|Drama|Thriller,1995,Condition Red
1000183,5059,M,45,16,22652,1434,4,962484364,"Stranger, The (1994)",Action,1994,"Stranger, The"
1000184,5947,F,45,16,97215,1434,4,957190428,"Stranger, The (1994)",Action,1994,"Stranger, The"
1000185,5077,M,25,2,20037,1868,3,962417299,"Truce, The (1996)",Drama|War,1996,"Truce, The"
1000186,5944,F,18,10,27606,1868,1,957197520,"Truce, The (1996)",Drama|War,1996,"Truce, The"
1000187,5105,M,50,7,18977,404,3,962337582,Brother Minister: The Assassination of Malcolm...,Documentary,1994,Brother Minister: The Assassination of Malcolm X
1000188,5185,F,35,4,44485,404,4,963402617,Brother Minister: The Assassination of Malcolm...,Documentary,1994,Brother Minister: The Assassination of Malcolm X
1000189,5532,M,25,17,27408,404,5,959619841,Brother Minister: The Assassination of Malcolm...,Documentary,1994,Brother Minister: The Assassination of Malcolm X
1000190,5543,M,25,17,97401,404,3,960127592,Brother Minister: The Assassination of Malcolm...,Documentary,1994,Brother Minister: The Assassination of Malcolm X
1000191,5220,M,25,7,91436,2543,3,961546137,Six Ways to Sunday (1997),Comedy,1997,Six Ways to Sunday
1000192,5754,F,18,1,60640,2543,4,958272316,Six Ways to Sunday (1997),Comedy,1997,Six Ways to Sunday
1000193,5227,M,18,10,64050,591,3,961475931,Tough and Deadly (1995),Action|Drama|Thriller,1995,Tough and Deadly
1000194,5795,M,25,1,92688,591,1,958145253,Tough and Deadly (1995),Action|Drama|Thriller,1995,Tough and Deadly
1000195,5313,M,56,0,55406,3656,5,960920392,Lured (1947),Crime,1947,Lured
1000196,5328,F,25,4,91740,2438,4,960838075,Outside Ozona (1998),Drama|Thriller,1998,Outside Ozona
1000197,5334,F,56,13,46140,3323,3,960796159,Chain of Fools (2000),Comedy|Crime,2000,Chain of Fools
1000198,5334,F,56,13,46140,127,1,960795494,"Silence of the Palace, The (Saimt el Qusur) (1...",Drama,1994,"Silence of the Palace, The (Saimt el Qusur)"
1000199,5334,F,56,13,46140,3382,5,960796159,Song of Freedom (1936),Drama,1936,Song of Freedom
1000200,5420,F,1,19,14850,1843,3,960156505,Slappy and the Stinkers (1998),Children's|Comedy,1998,Slappy and the Stinkers
1000201,5433,F,35,17,45014,286,3,960240881,Nemesis 2: Nebula (1995),Action|Sci-Fi|Thriller,1995,Nemesis 2: Nebula
1000202,5494,F,35,17,94306,3530,4,959816296,Smoking/No Smoking (1993),Comedy,1993,Smoking/No Smoking
1000203,5556,M,45,6,92103,2198,3,959445515,Modulations (1998),Documentary,1998,Modulations
1000204,5949,M,18,17,47901,2198,5,958846401,Modulations (1998),Documentary,1998,Modulations
1000205,5675,M,35,14,30030,2703,3,976029116,Broken Vessels (1998),Drama,1998,Broken Vessels
1000206,5780,M,18,17,92886,2845,1,958153068,White Boys (1999),Drama,1999,White Boys
1000207,5851,F,18,20,55410,3607,5,957756608,One Little Indian (1973),Comedy|Drama|Western,1973,One Little Indian
1000208,5938,M,25,1,35401,2909,4,957273353,"Five Wives, Three Secretaries and Me (1998)",Documentary,1998,"Five Wives, Three Secretaries and Me"

In [114]:
sort = finalResult.sort_values(finalResult.columns[0], ascending = True)
sort

,user_id,gender,age,occupation,zip,movie_id,rating,timestamp,title,genres,year,short_title
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,1975,One Flew Over the Cuckoo's Nest
28501,1,F,1,10,48067,48,5,978824351,Pocahontas (1995),Animation|Children's|Musical|Romance,1995,Pocahontas
13819,1,F,1,10,48067,938,4,978301752,Gigi (1958),Musical,1958,Gigi
51327,1,F,1,10,48067,1207,4,978300719,To Kill a Mockingbird (1962),Drama,1962,To Kill a Mockingbird
31152,1,F,1,10,48067,1721,4,978300055,Titanic (1997),Drama|Romance,1997,Titanic
37916,1,F,1,10,48067,2762,4,978302091,"Sixth Sense, The (1999)",Thriller,1999,"Sixth Sense, The"
18472,1,F,1,10,48067,2687,3,978824268,Tarzan (1999),Animation|Children's,1999,Tarzan
45685,1,F,1,10,48067,2692,4,978301570,Run Lola Run (Lola rennt) (1998),Action|Crime|Romance,1998,Run Lola Run (Lola rennt)
22832,1,F,1,10,48067,720,3,978300760,Wallace & Gromit: The Best of Aardman Animatio...,Animation,1996,Wallace & Gromit: The Best of Aardman Animation
32771,1,F,1,10,48067,745,3,978824268,"Close Shave, A (1995)",Animation|Comedy|Thriller,1995,"Close Shave, A"
12759,1,F,1,10,48067,595,5,978824268,Beauty and the Beast (1991),Animation|Children's|Musical,1991,Beauty and the Beast
43703,1,F,1,10,48067,1961,5,978301590,Rain Man (1988),Drama,1988,Rain Man
25853,1,F,1,10,48067,527,5,978824195,Schindler's List (1993),Drama|War,1993,Schindler's List
28883,1,F,1,10,48067,1097,4,978301953,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,1982,E.T. the Extra-Terrestrial
8926,1,F,1,10,48067,2804,5,978300719,"Christmas Story, A (1983)",Comedy|Drama,1983,"Christmas Story, A"
18914,1,F,1,10,48067,2018,4,978301777,Bambi (1942),Animation|Children's,1942,Bambi
56831,1,F,1,10,48067,608,4,978301398,Fargo (1996),Crime|Drama|Thriller,1996,Fargo
45033,1,F,1,10,48067,1962,4,978301753,Driving Miss Daisy (1989),Drama,1989,Driving Miss Daisy
8222,1,F,1,10,48067,1287,5,978302039,Ben-Hur (1959),Action|Adventure|Drama,1959,Ben-Hur
34973,1,F,1,10,48067,588,4,978824268,Aladdin (1992),Animation|Children's|Comedy|Musical,1992,Aladdin
59344,1,F,1,10,48067,1246,4,978302091,Dead Poets Society (1989),Drama,1989,Dead Poets Society
2250,1,F,1,10,48067,914,3,978301968,My Fair Lady (1964),Musical|Romance,1964,My Fair Lady
5904,1,F,1,10,48067,1197,3,978302268,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance,1987,"Princess Bride, The"
46757,1,F,1,10,48067,260,4,978300760,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi,1977,Star Wars: Episode IV - A New Hope
20183,1,F,1,10,48067,2797,4,978302039,Big (1988),Comedy|Fantasy,1988,Big
34073,1,F,1,10,48067,3186,4,978300019,"Girl, Interrupted (1999)",Drama,1999,"Girl, Interrupted"
15859,1,F,1,10,48067,1035,5,978301753,"Sound of Music, The (1965)",Musical,1965,"Sound of Music, The"
33428,1,F,1,10,48067,2294,4,978824291,Antz (1998),Animation|Children's,1998,Antz
1725,1,F,1,10,48067,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,1996,James and the Giant Peach
34504,1,F,1,10,48067,1566,4,978824330,Hercules (1997),Adventure|Animation|Children's|Comedy|Musical,1997,Hercules
...,...,...,...,...,...,...,...,...,...,...,...,...
986371,6040,M,25,6,11106,263,4,960971893,Ladybird Ladybird (1994),Drama,1994,Ladybird Ladybird
888155,6040,M,25,6,11106,1280,4,957717017,Raise the Red Lantern (1991),Drama,1991,Raise the Red Lantern
450054,6040,M,25,6,11106,3388,1,956716407,Harry and the Hendersons (1987),Comedy,1987,Harry and the Hendersons
208785,6040,M,25,6,11106,3671,4,997454367,Blazing Saddles (1974),Comedy|Western,1974,Blazing Saddles
836214,6040,M,25,6,11106,2575,4,997453762,"Dreamlife of Angels, The (La Vie r�v�e des ang...",Drama,1998,"Dreamlife of Angels, The (La Vie r�v�e des anges)"
643029,6040,M,25,6,11106,2010,5,957716795,Metropolis (1926),Sci-Fi,1926,Metropolis
513736,6040,M,25,6,11106,2003,1,956716294,Gremlins (1984),Comedy|Horror,1984,Gremlins
397578,6040,M,25,6,11106,300,2,956704716,Quiz Show (1994),Drama,1994,Quiz Show
146473,6040,M,25,6,11106,2396,3,956704475,Shakespeare in Love (1998),Comedy|Romance,1998,Shakespeare in Love
235244,6040,M,25,6,11106,1250,4,957716949,"Bridge on the River Kwai, The (1957)",Drama|War,1957,"Bridge on the River Kwai, The"
114011,6040,M,25,6,11106,265,3,956704788,Like Water for Chocolate (Como agua para choco...,Drama|Romance,1992,Like Water for Chocolate (Como agua para choco...
146968,6040,M,25,6,11106,3735,4,960971654,Serpico (1973),Crime|Drama,1973,Serpico
791890,6040,M,25,6,11106,2463,2,956716132,Ruthless People (1986),Comedy,1986,Ruthless People
836350,6040,M,25,6,11106,1419,3,956704056,Walkabout (1971),Drama,1971,Walkabout
113239,6040,M,25,6,11106,2312,3,956715714,Children of a Lesser God (1986),Drama,1986,Children of a Lesser God
45684,6040,M,25,6,11106,1962,3,956715569,Driving Miss Daisy (1989),Drama,1989,Driving Miss Daisy
937410,6040,M,25,6,11106,373,4,964828652,Red Rock West (1992),Thriller,1992,Red Rock West
31151,6040,M,25,6,11106,1097,4,956715569,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,1982,E.T. the Extra-Terrestrial
514352,6040,M,25,6,11106,1203,5,957717274,12 Angry Men (1957),Drama,1957,12 Angry Men
83311,6040,M,25,6,11106,1253,4,960972693,"Day the Earth Stood Still, The (1951)",Drama|Sci-Fi,1951,"Day the Earth Stood Still, The"
299512,6040,M,25,6,11106,913,5,956716845,"Maltese Falcon, The (1941)",Film-Noir|Mystery,1941,"Maltese Falcon, The"
968751,6040,M,25,6,11106,1273,4,964828734,Down by Law (1986),Comedy|Drama,1986,Down by Law
674149,6040,M,25,6,11106,2348,2,956715648,Sid and Nancy (1986),Drama,1986,Sid and Nancy
816324,6040,M,25,6,11106,3504,4,960971857,Network (1976),Comedy|Drama,1976,Network
662939,6040,M,25,6,11106,2739,2,956715942,"Color Purple, The (1985)",Drama,1985,"Color Purple, The"
578459,6040,M,25,6,11106,2641,2,956716343,Superman II (1980),Action|Adventure|Sci-Fi,1980,Superman II
338950,6040,M,25,6,11106,1947,4,997454036,West Side Story (1961),Musical|Romance,1961,West Side Story
464888,6040,M,25,6,11106,904,4,956716845,Rear Window (1954),Mystery|Thriller,1954,Rear Window
632232,6040,M,25,6,11106,2664,4,957717463,Invasion of the Body Snatchers (1956),Horror|Sci-Fi,1956,Invasion of the Body Snatchers
903432,6040,M,25,6,11106,1173,2,956716317,"Cook the Thief His Wife & Her Lover, The (1989)",Drama,1989,"Cook the Thief His Wife & Her Lover, The"

##### What's the highest rated movie?

###  Grouped movie_id to its mean rating and sort
### Found the movie_id titles

In [115]:
groupMovie = finalResult['rating'].groupby(finalResult['movie_id']).mean().sort_values()
highestRated = groupMovie[groupMovie == 5.0]
greatMovies = highestRated.index.tolist()
#groupMovie.idxmax()

In [116]:
answer = finalResult.loc[finalResult['movie_id'].isin(greatMovies)]
answer

,user_id,gender,age,occupation,zip,movie_id,rating,timestamp,title,genres,year,short_title
871322,46,M,18,19,75602,3280,5,977979487,"Baby, The (1973)",Horror,1973,"Baby, The"
965717,149,M,25,1,29205,787,5,977325719,"Gate of Heavenly Peace, The (1995)",Documentary,1995,"Gate of Heavenly Peace, The"
965718,2825,F,25,20,94014,787,5,972610193,"Gate of Heavenly Peace, The (1995)",Documentary,1995,"Gate of Heavenly Peace, The"
965719,2872,M,25,20,94014,787,5,972423586,"Gate of Heavenly Peace, The (1995)",Documentary,1995,"Gate of Heavenly Peace, The"
999933,1915,M,50,13,01938,989,5,974693867,Schlafes Bruder (Brother of Sleep) (1995),Drama,1995,Schlafes Bruder (Brother of Sleep)
1000041,2869,M,50,17,07650,1830,5,972439040,Follow the Bitch (1998),Comedy,1998,Follow the Bitch
1000042,2885,F,18,1,80302,3881,5,972452947,Bittersweet Motel (2000),Documentary,2000,Bittersweet Motel
1000088,3428,M,45,1,47933,3233,5,967343582,Smashing Time (1967),Comedy,1967,Smashing Time
1000089,4038,M,50,6,11510-2001,3233,5,965505565,Smashing Time (1967),Comedy,1967,Smashing Time
1000094,3485,M,25,0,94121,3172,5,967060437,Ulysses (Ulisse) (1954),Adventure,1954,Ulysses (Ulisse)
1000195,5313,M,56,0,55406,3656,5,960920392,Lured (1947),Crime,1947,Lured
1000199,5334,F,56,13,46140,3382,5,960796159,Song of Freedom (1936),Drama,1936,Song of Freedom
1000207,5851,F,18,20,55410,3607,5,957756608,One Little Indian (1973),Comedy|Drama|Western,1973,One Little Indian

In [117]:
answer.title.unique()

array(['Baby, The (1973)', 'Gate of Heavenly Peace, The (1995)',
       'Schlafes Bruder (Brother of Sleep) (1995)',
       'Follow the Bitch (1998)', 'Bittersweet Motel (2000)',
       'Smashing Time (1967)', 'Ulysses (Ulisse) (1954)', 'Lured (1947)',
       'Song of Freedom (1936)', 'One Little Indian (1973)'], dtype=object)

**Hint! Find the highly rated movies which appeals to both genders 'M' and 'F'**
### Dataframe for Male and Female Movie Recommendations

In [118]:
answer = finalResult.loc[finalResult['movie_id'].isin(greatMovies)]
Males = answer.loc[answer['gender'] == 'M']  
Females = answer.loc[answer['gender'] == 'F'] 
newMales = Males.sample(3)
newFemales = Females.sample(3)
genderSamples = [newMales, newFemales]
movieRecommendation = pd.concat(genderTable)

movieRecommendation

,user_id,gender,age,occupation,zip,movie_id,rating,timestamp,title,genres,year,short_title
965717,149,M,25,1,29205,787,5,977325719,"Gate of Heavenly Peace, The (1995)",Documentary,1995,"Gate of Heavenly Peace, The"
965719,2872,M,25,20,94014,787,5,972423586,"Gate of Heavenly Peace, The (1995)",Documentary,1995,"Gate of Heavenly Peace, The"
1000094,3485,M,25,0,94121,3172,5,967060437,Ulysses (Ulisse) (1954),Adventure,1954,Ulysses (Ulisse)
1000199,5334,F,56,13,46140,3382,5,960796159,Song of Freedom (1936),Drama,1936,Song of Freedom
965718,2825,F,25,20,94014,787,5,972610193,"Gate of Heavenly Peace, The (1995)",Documentary,1995,"Gate of Heavenly Peace, The"
1000042,2885,F,18,1,80302,3881,5,972452947,Bittersweet Motel (2000),Documentary,2000,Bittersweet Motel

## Part 2

Load the dataset in `titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [119]:
from IPython.core.display import HTML
HTML(filename='../data/titanic.html')

In [120]:
# you would need xlrd - pip install xlrd
t_file = pd.ExcelFile('../data/titanic.xls')
t_df = t_file.parse("titanic", header=0)
t_df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Women and children first?

*** 1. Use the `groupby` method to calculate the proportion of passengers that survived by sex. *** 

*** 2. Calculate the same proportion, but by class and sex. *** 

*** 3. Create age categories: children (under 14 years), adolescents (14-20), adult (21-64), and senior(65+), and calculate survival proportions by age category, class and sex. ***

##### Calculate the Proportion of passengers that survived by sex

In [121]:
totalPassengers = t_df.count()[0]

sex_list = t_df.groupby(['sex', 'survived'])
sex_list.size()

sex     survived
female  0           127
        1           339
male    0           682
        1           161
dtype: int64

## Proportion of females that survived

In [122]:
female = sex_list.size()[1]
float(female) / float(totalPassengers)

0.2589763177998472

## Proportion of males that survived

In [123]:
male = sex_list.size()[3]
float(male)/float(totalPassengers)

0.12299465240641712

## Calculate the Proportion of passengers that survived by class and sex

In [124]:
class_sex = pd.crosstab(index=t_df["survived"], columns=[t_df["pclass"], t_df["sex"]])
surv_class_sex = class_sex[1:]

In [125]:
surv_class_sex / float(totalPassengers)

pclass           1                 2                   3
sex         female    male    female      male    female      male
survived
1         0.106188  0.0466  0.071811  0.019099  0.080978  0.057296

## Calculate the Proportion of passengers that survived by  age category, class and sex.

In [126]:
age_bins = [0, 14, 20, 64, 125]
age_names = ['Children', 'Adolescents', 'Adult', 'Senior']
t_df['categories'] = pd.cut(t_df['age'], age_bins, labels=age_names)

getSurv_categories = pd.crosstab(index=t_df["survived"], columns=[t_df["pclass"], t_df["sex"], t_df['categories']])
surv_categories = getSurv_categories[1:]
surv_categories

pclass            1                                                      \
sex          female                              male
categories Children Adolescents Adult Senior Children Adolescents Adult
survived
1                 1          14   112      1        5           1    46

pclass                   2              ...                             \
sex                 female              ...          male
categories Senior Children Adolescents  ...   Adolescents Adult Senior
survived                                ...
1               1       15          11  ...             2    10      0

pclass            3
sex          female                       male
categories Children Adolescents Adult Children Adolescents Adult Senior
survived
1                16          18    38       13           7    39      0

[1 rows x 22 columns]

In [127]:
pclass_1 = surv_categories[1]
pclass_1

sex          female                              male
categories Children Adolescents Adult Senior Children Adolescents Adult Senior
survived
1                 1          14   112      1        5           1    46      1

## Class 1 proportions

In [128]:
pclass_1 / float(totalPassengers)

sex           female                                     male              \
categories  Children Adolescents     Adult    Senior Children Adolescents
survived
1           0.000764    0.010695  0.085561  0.000764  0.00382    0.000764

sex
categories     Adult    Senior
survived
1           0.035141  0.000764

In [129]:
pclass_2 = surv_categories[2]
pclass_2

sex          female                       male
categories Children Adolescents Adult Children Adolescents Adult Senior
survived
1                15          11    66       11           2    10      0

## Class 2 proportions

In [130]:
pclass_2 / float(totalPassengers)

sex           female                           male                        \
categories  Children Adolescents    Adult  Children Adolescents     Adult
survived
1           0.011459    0.008403  0.05042  0.008403    0.001528  0.007639

sex
categories Senior
survived
1             0.0

In [131]:
pclass_3 = surv_categories[3]
pclass_3

sex          female                       male
categories Children Adolescents Adult Children Adolescents Adult Senior
survived
1                16          18    38       13           7    39      0

## Class 3 proportions

In [132]:
pclass_3 /float(totalPassengers)

sex           female                           male                        \
categories  Children Adolescents    Adult  Children Adolescents     Adult
survived
1           0.012223    0.013751  0.02903  0.009931    0.005348  0.029794

sex
categories Senior
survived
1             0.0

# $$\alpha^2$$